* {
  margin: 0;
}

.rotate {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
}

.opacity {

}

.select {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.selected {
  fill: green;
  font-size: 50px;
}