* {
  margin: 0;
}

.rotate {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
}

.opacity {

}

.select {
  width: 200px !important;
  position: fixed !important;
  top: 1rem;
  left: 1rem;
  background: #fff;
}

.selected {
  fill: green;
}

svg text {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.level {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.level:hover {
  fill: rgba(23, 238, 8, 0.2);
}