* {
  margin: 0;
}

.rotate {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
}

.opacity {

}

.select {
  width: 200px !important;
  position: fixed !important;
  top: 1rem;
  left: 1rem;
  background: #fff;
}

.selected {
  fill: green;
}

svg text {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 300ms;
}

.level {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.level:hover {
  fill: rgba(23, 238, 8, 0.2);
}

text {
  font-family: "Robot", sans-serif;
}

.table {
  width: 200px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  td {
    border: 1px solid lightgray;
    padding: 2px 10px;
  }
}

.table-label {
  font-size: 18px;
  font-weight: 600;
}

.table-container {
  height: 100%;
  overflow: auto;
}

.row-blue {
  background-color: #8282d880;
}

.row-red {
  background-color: #ff000080;
}

.row-green {
  background-color: #8dce8d80;
}

.row-yellow {
  background-color: #FFA50080;
}